@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700&display=swap');

* {
    color: white;
    font-family: 'Inter';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
  }
  
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

body {
    margin: 0;
    padding: 0;

    background-color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins';
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(232,54,0,1);
    text-decoration-thickness: 4px;    
}

.mobile-response-show {
    display: none;
}


@media screen and (max-width: 720px) {
    .mobile-response-show { display: block; }
    .mobile-response-hide { display: none; }
}

/* ANIMATIONS */

.fadeInUp {
    opacity: 0;
    transition: 800ms ease-in-out;
    transform: translate(0px, 20px);
}

.fadeInLeft {
    opacity: 0;
    transition: 800ms ease-in-out;
    transform: translate(-20px, 0px);
}

.fadeInRight {
    opacity: 0;
    transition: 800ms ease-in-out;
    transform: translate(20px, 0px);
}

.fadeInStack {
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: 800ms ease-in-out;
}

.fadeInStack:nth-child(1) { transition-delay: 200ms; }
.fadeInStack:nth-child(2) { transition-delay: 300ms; }
.fadeInStack:nth-child(3) { transition-delay: 400ms; }
.fadeInStack:nth-child(4) { transition-delay: 500ms; }
.fadeInStack:nth-child(5) { transition-delay: 600ms; }

.shown {
    opacity: 1;
    transform: translate(0px, 0px);
}

.grow-sm, .grow-lg, .grow-xl {
    transition: scale 200ms ease-in-out;
}

.grow-sm:hover { scale: 1.05 }
.grow-lg:hover { scale: 1.1 }
.grow-lg:hover { scale: 1.25 }

/* NAVBAR */

nav {
    margin-top: 0.5rem;

    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-logo-outer {
    flex: 1;
}

.nav-logo {
    max-width: 80px;
    margin: 1rem;
}

.nav-link {
    margin: 0 2.5rem;
    font-size: 1.8rem;
    
    text-decoration: none;
    transition: 200ms ease-in-out;
    font-family: 'Poppins';
}

.nav-link:hover {
    transform: scale(1.1);
    color: #f5af19;
    
    cursor: pointer;
}

.sign-up {
    background: #00C6FF;
    background: linear-gradient(to right, #00C6FF 3%, #0072FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 800;
}

@media screen and (max-width: 720px) {
    nav { display: none; }
}

/* INTRO */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;
}

.app-img {
    width: 30%;
    min-width: 300px;
}

.intro-aside {
    max-width: 60%;
    margin-left: 3%;
}

.intro-title {
    font-size: 4rem;
    width: fit-content;
    margin: 0;
}

.intro-subtitle {
    font-size: 2rem;
    font-weight: 400;
    width: fit-content;
    margin: 10px;
}

.intro-description {
    font-size: 1.5rem;
    max-width: 85%;
    width: fit-content;
    margin: 10px;
}

.register {
    padding: 12px;
    margin: 1rem 0;
    border: 2px solid #20FF51;
    
    color: black;
    background-color: #20FF51;

    font-size: 1.5rem;
    transition:  200ms ease-in-out;
}

.register:hover {
    padding: 12px;

    color: white;

    background-color: transparent;
    cursor: pointer;

    box-shadow: 0px 0px 122px 16px #20ff50b5;
}

@media screen and (max-width: 720px) {
    .intro { 
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .intro-aside {
        text-align: center;
        max-width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-title { font-size: 2rem; }
    .intro-subtitle { font-size: 0.8rem;}
    .intro-description { font-size: 0.75rem; }
    .register { 
        font-size: 1rem;
    }
}

/* SCROLL DOWN THING */

.divider-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-down {
    padding: 1rem;
    border-radius: 50%;

    border: 2px solid white;
    transition:  200ms ease-in-out;

    text-decoration: none;
}

.scroll-down:hover {
    background-color: white;
    color: black;

    cursor: pointer;
}

/* HACKATHON SECTION */

.hackathon {
    margin: 8rem 4rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
}

.hackathon-img {
    max-width: 500px;
}

.hackathon-aside {
    max-width: 60%;
}

.hackathon-description {
    font-size: 1.5rem;
}


.replace {
    background-color: transparent;
    border: 1px solid white;
    
    font-size: 1.2rem;
    padding: 1rem;

    transition: 200ms ease-in-out;
}

.replace:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.white-bg-highlight {
    padding: 10px;
    background-color: white;
    color: black;
}

@media screen and (max-width: 720px) {
    .hackathon { 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 3rem 0;
    }

    .hackathon-img {
        max-width: 300px;
    }

    .hackathon-aside {
        text-align: center;
        max-width: 80%;
    }

    .hackathon-title { font-size: 2rem; }
    .hackathon-description { font-size: 0.75rem; }
    .replace { 
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}

/* PRIZES SECTION */

.prizes {
    margin: 10rem 4rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prizes-title {
    margin: 0.5rem;
}

.prizes-subtitle {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}

.prize-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    margin-top: 4rem;
}

.prize-card {
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;

    padding: 2rem 3rem;
    max-width: 100px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: 200ms ease-in-out;

    border-radius: 8px;
}

.prize-card:hover {
    box-shadow: 0px 0px 60px 16px rgba(255, 255, 255, 0.2);
    scale: 1.1;
    cursor: pointer;
}

.prize-card:hover .prize-card-icon { color: black }
.prize-card:hover .prize-card-caption { color: black }

.prize-ui:hover { 
    background-color: rgb(0, 255, 0); 
    box-shadow: 0px 0px 60px 16px rgba(0, 255, 0, 0.3);
}
.prize-pitch:hover { 
    background-color: rgb(0, 238, 255); 
    box-shadow: 0px 0px 60px 16px rgba(0, 238, 255, 0.3);
}
.prize-creativity:hover { 
    background-color: rgb(255, 242, 0); 
    box-shadow: 0px 0px 60px 16px rgba(255, 242, 0, 0.3);
}
.prize-impressive:hover { 
    background-color: rgb(240, 128, 128); 
    box-shadow: 0px 0px 124px 16px rgba(240, 128, 128, 0.3);
}
.prize-overall:hover { 
    background-color: rgb(201, 114, 255); 
    box-shadow: 0px 0px 124px 32px rgba(201, 114, 255, 0.3);
}

.prizes-footer {
    margin-top: 4rem;
    font-size: 1.4rem;
}

@media screen and (max-width: 720px) {
    .prizes {
        text-align: center;
    }
    
    .prize-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .prizes-footer {
        font-size: 12px;
    }
}